page{
  width: 100%;
  height: 100%;
}
:root{
  color-scheme: light!important;
}
view,
   scroll-view,
   swiper,
   swiper-item,
   cover-view,
   cover-image,
   icon,
   text,
   rich-text,
   progress,
   button,
   checkbox,
   form,
   input,
   label,
   picker,
   picker-view,
   radio,
   slider,
   switch,
   textarea,
   navigator,
   image {
     box-sizing: border-box;
   }

.page-container{
  padding-bottom: var(--safe-area-inset-bottom);
}
